.Avatar-img {
  position: relative;
  cursor: pointer;
}

.Avatar-icons {
  position: absolute;
  top: 35%;
  left: 10%;
  opacity: 0;
  transition: ease-in-out all 0.5s;
}

.Avatar-img:hover .Avatar-icons {
  opacity: 1;
}

.Avatar h5 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-top: 20px;
}

.Avatar p {
  opacity: 60%;
}

.Avatar-dark-icons {
  display: none;
}

@media (max-width: 1024px) {
  .Avatar-icons {
    display: none;
  }

  .Avatar-dark-icons {
    display: block;
  }
}
