.Avatar {
  max-width: 350px;
}

.Avatar-img {
  position: relative;
  cursor: pointer;
  width: 350px;
}

.Avatar-img img {
  max-width: 100%;
}

.Avatar-icons {
  position: absolute;
  top: 40%;
  left: 35%;
  opacity: 0;
  transition: ease-in-out all 0.5s;
}

.Avatar-img:hover .Avatar-icons {
  opacity: 1;
}

.Avatar h5 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-top: 20px;
}

.Avatar p {
  opacity: 60%;
}

.Avatar-dark-icons {
  display: none;
}

@media (max-width: 1024px) {
  .Avatar {
    max-width: 280px;
  }

  .Avatar-img {
    width: 280px;
  }
  .Avatar-icons {
    display: none;
  }

  .Avatar-dark-icons {
    display: block;
  }
}

@media (max-width: 567px) {
  .Avatar {
    width: 311px;
  }

  .Avatar-img {
    width: 311px;
  }
}
