.Button {
  padding: 15px 20px;
  background: var(--main-color);
  color: #fff;
  border: none;
}

.Button:hover {
  background: var(--dark-color);
}

.Button:active {
  background: var(--medium-color);
}

img {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .Button {
    padding: 10px 15px;
    font-size: small;
  }
}
