.Featured {
  padding: 60px 0;
}
.Featured-header {
  margin-bottom: 70px;
}

.Featured p a {
  color: #ffffff;
  opacity: 0.6;
}

@media (max-width: 567px) {
  .Featured {
    width: 311px;
  }

  .Featured .w-100 {
    width: 311px;
  }

  .Featured .w-100 button {
    min-width: 100%;
  }
}
