.Footer {
  position: relative;
  padding: 0;
}

.Footer-flex {
  display: flex;
  height: 200px;
}

.Footer-logo {
  width: 200px;
  min-height: 100%;
  text-align: center;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}

.Footer-links {
  display: flex;
  background: var(--very-light-color);
  width: 784px;
  min-height: 100%;
  align-items: center;
  padding-left: 60px;
}

.Footer-link {
  color: var(--medium-color);
  font-weight: 700;
}
.Footer-link:hover {
  color: var(--main-color);
}

.Footer button {
  position: absolute;
  right: 0;
  bottom: 35%;
}

@media (max-width: 1024px) {
  .Footer-flex {
    height: 120px;
    margin: 0;
    padding: 0;
    width: 100wh;
  }

  .Footer-logo {
    width: 120px;
  }

  .Footer-links {
    width: 492px;
    padding-left: 20px;
  }
}

/* @media (max-width: 567px) {
  .Footer-flex {
    display: block;
  }

  .Footer-logo {
    margin: auto;
  }

  .Footer-links {
    display: block;
    text-align: center;
    width: 100%;
    height: 375px;
  }

  .Footer button {
    position: relative;
    margin-top: auto;
  }
} */
