.Hero {
  position: relative;
  margin-bottom: 200px;
}

.Hero .heading {
  position: absolute;
  right: 35px;
  bottom: 400px;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
  color: var(--very-light-color);
}

.Hero-img {
  position: relative;
}

.Hero-img img {
  filter: brightness(60%);
}

.Hero-content-wrapper {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  background: #ffffff;
  height: 503px;
  width: 650px;
}

.Hero-content {
  max-width: 446px;
}

.Hero-content h3 {
  margin-bottom: 50px;
}

.Hero-content .lead {
  margin-bottom: 0;
  padding-top: 30px;
}

.Hero::after {
  content: '';
  position: absolute;
  bottom: -150px;
  left: 0;
  height: 1px;
  width: 65px;
  background: var(--light-color);
}

@media (max-width: 1024px) {
  .Hero .heading {
    right: 3px;
    bottom: 320px;
    font-size: 120px;
    letter-spacing: -3px;
  }
  .Hero-content-wrapper {
    width: 520px;
    height: 431px;
  }
}

@media (max-width: 576px) {
  .Hero {
    margin-bottom: 50px;
  }
  .Hero .heading {
    display: none;
  }

  .Hero::after {
    bottom: -50px;
    left: 10%;
  }
  .Hero-img::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 90%;
    height: 46px;
    background: #ffffff;
    z-index: 3;
  }

  .Hero img {
    width: 100vw;
  }

  .Hero-content-wrapper {
    position: static;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .Hero-content h3 {
    padding: 0 3px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .Hero-content .lead {
    padding: 0 3px;
  }
}
