.ImageCard {
  position: relative;
}

.ImageCard img {
  filter: brightness(80%);
}

.ImageCard-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #ffffff;
}

.ImageCard-text h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.ImageCard-text p {
  color: #ffffff;
  /* opacity: 0.9; */
}
