@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --main-color: #1b1d23;
  --dark-color: #60636d;
  --medium-color: #7d828f;
  --light-color: #c8ccd8;
  --very-light-color: #eeeff4;
  --error-color: #df5656;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}

h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2px;
}

a,
a:hover {
  text-decoration: none;
  color: var(--medium-color);
}

li {
  list-style: none;
}

.lead {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  width: 445px;
}

.container {
  position: relative;
}

.current::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -150%;
  height: 1px;
  width: 100px;
  background: var(--light-color);
}
.current {
  position: absolute;
  left: -10%;
  top: 160px;
  transform: rotate(90deg);
  margin-bottom: 0;
  color: var(--light-color);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.btn {
  background: var(--main-color);
  border: none;
  border-radius: 0px;
  padding: 25px 30px;
}

.btn:hover {
  background: var(--dark-color);
}

@media (max-width: 768px) {
  .container {
    max-width: 573px;
  }
  .current {
    left: -15%;
  }

  .btn {
    padding: 15px 20px;
  }
}

@media (max-width: 567px) {
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }

  h3 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.48px;
    width: 311px;
  }

  .lead {
    width: 311px;
  }

  .current {
    display: none;
  }
}

@media (max-width: 376px) {
  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }

  .lead {
    width: 280px;
  }
}
