* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 1rem 3rem;
}
a,
a:hover {
  text-decoration: none;
  color: black;
}

.carousel-indicators {
  justify-content: left;
  margin: 0;
  margin-left: -100px;
}

.carousel-indicators li {
  background: #fff;
  opacity: 1;
  margin: 0;
  height: 80px;
  width: 100px;
}

.carousel-indicators li.active {
  background: #000;
}
