@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --main-color: #1B1D23;
  --dark-color: #60636D;
  --medium-color: #7D828F;
  --light-color: #C8CCD8;
  --very-light-color: #EEEFF4;
  --error-color: #DF5656;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
}

a,
a:hover {
  text-decoration: none;
  color: var(--medium-color);
}

.lead {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  width: 446px;
}

.container {
  position: relative;
  
  
}


.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  height:12%;
  width: 2px;
  background: var(--light-color);
}
.current {
  position: absolute;
  left: -120px;
  top: 20%; 
  transform: rotate(90deg);
  margin-bottom: 0;
  color: var(--light-color);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .container {
      max-width: 573px;
  }
}

@media (max-width: 567px) {
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }

  .lead {
    width: 311px;
  }
}








